.sevmain{
   width: 100%;
   border: 1px solid red;
    min-width: 980px;
}
.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 249, 186);
    border: 1px solid rgb(12, 3, 3);
   
}
.heading h1{
            width: 50%;
            line-height: 1.3em;
            text-align: left;
            font-size: 72px;
        
}
