.card1_row1 {
    height: 100vh;
    cursor: pointer;
    width: 40vw;
    background-color: transparent;
    transition: 0.5s;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15vh;
}

.card1_row2 {
    height: 100vh;
    width: 40vw;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
}

.card1_row1:hover {
    transform: scale(0.95);
}

.card1_row2:hover {
    transform: scale(0.95);
}

@media only screen and (max-width: 800px) {
    .card1_row2 {
        width: 80%;
        margin-top: 15vh;
        /* margin-bottom: 5vh !important; */
    }

    .card1_row1 {
        width: 80%;
        /* margin-bottom: 5vh !important; */
    }
}

@media only screen and (max-width: 400px) {
    .card1_row2 {
        width: 80%;
        margin-top: 0;
        margin-bottom: 0;
        /* margin-bottom: 5vh !important; */
    }

    .card1_row1 {
        width: 80%;
        margin-top: 0;
        margin-bottom: 0;
        /* margin-bottom: 5vh !important; */
    }
}